body{
    font-family: "Open Sans", sans-serif;
}
header{
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgb(55 66 59 / 8%);
}
header h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}
header h1.logo a{
    color: #5fcf80;
    text-decoration: none;
    text-transform: uppercase;
}
header .btn.btn-primary{
    border-radius: 50px;
    background-color:  #5fcf80;
    border-color:  #5fcf80;
}
.hero{
    background: url("../images/hero-bg.jpg") center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.hero .hero-overlay{
position: absolute;
width:100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.3);
}
.hero .container{
    position: relative;
    color: #fff;
}
.hero .container .hero-row{
    height: 80vh;
}
.hero .row{
    padding-top: 62px;
}
.hero .col{
    padding-top: 100px;
}
.hero h1{
font-size: 28px;
line-height: 36px;
font-weight: 700;
font-family: "Poppins", sans-serif;
}
.hero h2{
font-size: 18px;
line-height: 24px;
color: #eee;
margin: 10px 0 0 0;
font-family: "Raleway", sans-serif;
font-weight: 500;
}
.hero .btn.btn-outline-secondary{
font-family: "Raleway", sans-serif;
color: #fff;
border-color: #fff;
border-radius: 50px;
margin: 30px 0 0;
padding: 10px 35px;
}
.about{
    padding: 60px 0;
}
.about h3{
    font-size: 28px;
margin-top: 0;
margin-bottom: .5rem;
font-weight: 500;
line-height: 1.2;
font-family: "Raleway", sans-serif;
}
.about p{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px;
    line-height: 1.5;
    color: #212529;
}
.about ul{
    list-style: none;
}
.about ul li{
    padding-bottom: 10px;
}
.about ul i{
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
}









@media (min-width: 576px){

}
@media (min-width: 768px){
.hero .container .hero-row{
height: 80vh;
}
.hero h1{
font-size: 48px;
line-height: 56px;
}
.hero h2{
    font-size: 24px;
}
}
@media (min-width: 992px){
}
@media (min-width: 1200px){

}
@media (min-width: 1400px){
}